<div style='background-color : orange'>
<a id='TableOfContents'></a>
    <b><u><i><h1 style='text-align : center'>
        Table of Contents
    </h1></i></u></b>
<li><a href='#imports'>Imports</a></li>
<li><a href='#q1'>Question 1</a></li>
<li><a href='#q2'>Question 2</a></li>
<li><a href='#q3'>Question 3</a></li>
<li><a href='#q4'>Question 4</a></li>
<li><a href='#q5'>Question 5</a></li>
<li><a href='#q6'>Question 6</a></li>
<li><a href='#q7'>Question 7</a></li>
<li><a href='#q8'>Question 8</a></li>
<li><a href='#q9'>Question 9</a></li>
<li><a href='#misc'>Miscellaneous</a></li>

The end result of this exercise should be a file named <mark>prepare.py</mark> that defines the requested functions.

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

<div style='background-color : orange'>
<a id='imports'></a>
    <b><u><i><h1 style='text-align : center'>
        Imports
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<h1 style='text-align : center'><b><i><mark>
    nltk.download('all')
</mark></i></b></h1>

- This is required for textual data manipulation

In [1]:
# Vectorization and dataframing
import numpy as np
import pandas as pd

# Visualizations
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# Regex
import re

# Standardization
import unicodedata

# Tokenization
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

# json
import json

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# .py files
import acquire as a
import prepare as p

In [2]:
# Set default plt style to 'bmh'
mpl.style.use('bmh')

In [3]:
# Get the news articles dataframe to test functions with
news = a.get_news_articles()
news.sample()

,category,headline,summary
76,Entertainment,Kriti Sanon wears saree with 24-carat gold pri...,Kriti Sanon wore a saree by Abu Jani and Sande...

<div style='background-color : orange'>
<a id='q1'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 1
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 1.</b> Define a function named <mark><i>basic_clean</i></mark>. It should take in a string and apply some basic text cleaning to it:
- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

In [4]:
def basic_clean(entry):
    '''
    Takes in a pandas series (column), lowercases everything, normalizes unicode characters,
    and replaces anything that is not a letter, number, whitespace or a
    single quote
    
    INPUT:
    entry = Pandas series (column) that needs to be cleaned
    
    OUTPUT:
    cleaned = Pandas series (column) that is cleaned (I HAVE EXORCISED THE DEMON)
    '''
    lowered = entry.str.lower()
    normalized = [unicodedata.normalize('NFKD',text).encode('ascii', 'ignore').decode('utf-8') for text in lowered]
    removed_special = [re.sub(r'[^\w\s]', '', text) for text in normalized]
    cleaned = removed_special
    return cleaned

In [5]:
cleaned_by_function = basic_clean(news.summary)
cleaned_by_function[0]

'microsoft will not give salary hikes to fulltime employees this year ceo satya nadella said in an internal email on wednesday this year the economic conditions are very different across many dimensions nadella said in the email while well have salary increases for certain hourly or equivalent roles we wont have salary increases for fulltime employees this year he added\n'

In [6]:
# Lowercase all summary data in news df
lowered = news.summary.str.lower()
lowered[0]

'microsoft will not give salary hikes to full-time employees this year, ceo satya nadella said in an internal email on wednesday. "this year, the economic conditions are very different across many dimensions," nadella said in the email. "while we\'ll have salary increases for certain hourly or equivalent roles, we won\'t have salary increases for full-time employees this year," he added.\n'

In [7]:
# Normalize the lower-cased data
normalized = [unicodedata.normalize('NFKD',text).encode('ascii', 'ignore').decode('utf-8') for text in lowered]
normalized[0]

'microsoft will not give salary hikes to full-time employees this year, ceo satya nadella said in an internal email on wednesday. "this year, the economic conditions are very different across many dimensions," nadella said in the email. "while we\'ll have salary increases for certain hourly or equivalent roles, we won\'t have salary increases for full-time employees this year," he added.\n'

In [8]:
# Remove special characters from the normalized data
regexp = r'[^\w\s]'
removed_special = [re.sub(r'[^\w\s]', '', text) for text in normalized]
removed_special[0]

'microsoft will not give salary hikes to fulltime employees this year ceo satya nadella said in an internal email on wednesday this year the economic conditions are very different across many dimensions nadella said in the email while well have salary increases for certain hourly or equivalent roles we wont have salary increases for fulltime employees this year he added\n'

<div style='background-color : orange'>
<a id='q2'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 2
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 2.</b> Define a function named <mark><i>tokenize</i></mark>. It should take in a string and tokenize all the words in the string.

In [9]:
def tokenize(entry):
    '''
    Takes in a cleaned pandas series (column) and tokenizes all the words in the string
    
    INPUT:
    entry = Cleaned pandas series (Column) that needs to be tokenized
    
    OUTPUT:
    tokenized_data = Pandas series (Column) that is tokenized (I HAVE EXORCISED THE DEMON)
    '''
    tokenizer = nltk.tokenize.toktok.ToktokTokenizer()
    tokenized_data = [tokenizer.tokenize(text, return_str=True) for text in entry]
    return tokenized_data

In [10]:
tokenized_by_function = tokenize(cleaned_by_function)
tokenized_by_function[0]

'microsoft will not give salary hikes to fulltime employees this year ceo satya nadella said in an internal email on wednesday this year the economic conditions are very different across many dimensions nadella said in the email while well have salary increases for certain hourly or equivalent roles we wont have salary increases for fulltime employees this year he added'

In [11]:
# Tokenize the cleaned data
tokenizer = ToktokTokenizer()
tokenized_data = [tokenizer.tokenize(text, return_str=True) for text in removed_special]
tokenized_data[0]

'microsoft will not give salary hikes to fulltime employees this year ceo satya nadella said in an internal email on wednesday this year the economic conditions are very different across many dimensions nadella said in the email while well have salary increases for certain hourly or equivalent roles we wont have salary increases for fulltime employees this year he added'

<div style='background-color : orange'>
<a id='q3'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 3
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 3.</b> Define a function named <mark><i>stem</i></mark>. It should accept some text and return the text after applying stemming to all the words.

In [12]:
def stem(entry):
    '''
    Takes in a cleaned and tokenized pandas series (column) and applies stemming to all the words
    
    INPUT:
    entry = Cleaned and tokenized pandas series (column) that needs to be stemmed
    
    OUTPUT:
    stemmed_data = Pandas series (column) that is stemmed (I HAVE EXORCISED THE DEMON)
    '''
    stemmer = nltk.porter.PorterStemmer()
    stemmed_data = []
    for text in entry:
        stemmed_tokens = [stemmer.stem(token) for token in text.split()]
        stemmed_text = ' '.join(stemmed_tokens)
        stemmed_data.append(stemmed_text)
    return stemmed_data

In [13]:
stemmed_by_function = stem(tokenized_by_function)
stemmed_by_function[0]

'microsoft will not give salari hike to fulltim employe thi year ceo satya nadella said in an intern email on wednesday thi year the econom condit are veri differ across mani dimens nadella said in the email while well have salari increas for certain hourli or equival role we wont have salari increas for fulltim employe thi year he ad'

In [14]:
# Stem the tokenized data
stemmer = nltk.porter.PorterStemmer()
stemmed_data = []
for text in tokenized_data:
    stemmed_tokens = [stemmer.stem(token) for token in text.split()]
    stemmed_text = ' '.join(stemmed_tokens)
    stemmed_data.append(stemmed_text)
stemmed_data[0]

'microsoft will not give salari hike to fulltim employe thi year ceo satya nadella said in an intern email on wednesday thi year the econom condit are veri differ across mani dimens nadella said in the email while well have salari increas for certain hourli or equival role we wont have salari increas for fulltim employe thi year he ad'

<div style='background-color : orange'>
<a id='q4'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 4
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 4.</b> Define a function named <mark><i>lemmatize</i></mark>. It should accept some text and return the text after applying lemmatization to each word.

In [15]:
def lemmatize(entry):
    '''
    Takes in a cleaned and tokenized pandas series (column) and applies lemmatization to each word
    
    INPUT:
    entry = Cleaned and tokenized pandas series (column) that needs to be lemmatized
    
    OUTPUT:
    lemmatized_data = Pandas series (column) that is lemmatized (I HAVE EXORCISED THE DEMON)
    '''
    lemmatizer = nltk.stem.WordNetLemmatizer()
    lemmatized_data = []
    for text in entry:
        lemmatized_tokens = [lemmatizer.lemmatize(word) for word in text.split()]
        lemmatized_text = ' '.join(lemmatized_tokens)
        lemmatized_data.append(lemmatized_text)
    return lemmatized_data

In [16]:
lemmatized_by_function = lemmatize(tokenized_by_function)
lemmatized_by_function[0]

'microsoft will not give salary hike to fulltime employee this year ceo satya nadella said in an internal email on wednesday this year the economic condition are very different across many dimension nadella said in the email while well have salary increase for certain hourly or equivalent role we wont have salary increase for fulltime employee this year he added'

In [17]:
# Lemmatize the tokenized data
lemmatizer = nltk.stem.WordNetLemmatizer()
lemmatized_data = []
for text in tokenized_data:
    lemmatized_tokens = [lemmatizer.lemmatize(word) for word in text.split()]
    lemmatized_text = ' '.join(lemmatized_tokens)
    lemmatized_data.append(lemmatized_text)
lemmatized_data[0]

'microsoft will not give salary hike to fulltime employee this year ceo satya nadella said in an internal email on wednesday this year the economic condition are very different across many dimension nadella said in the email while well have salary increase for certain hourly or equivalent role we wont have salary increase for fulltime employee this year he added'

<div style='background-color : orange'>
<a id='q5'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 5
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 5.</b> Define a function named <mark><i>remove_stopwords</i></mark>. It should accept some text and return the text after removing all the stopwords.

This function should define two optional parameters, <mark><i>extra_words</i></mark> and <mark><i>exclude_words</i></mark>. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [18]:
def remove_stopwords(entry, extra_words=[], exclude_words=[]):
    '''
    Takes in a cleaned, tokenized, and stemmed/lemmatized pandas series (column) and removes all of the stopwords
    
    INPUT:
    entry = Cleaned, tokenized, and stemmed/lemmatized pandas series (column) that needs stopwords removed
    extra_words = Additional words to include for removal
    exclude_words = Words to exclude from removal
    
    OUTPUT:
    removed_stopwords = Pandas series (column) that has stopwords removed (I HAVE EXORCISED THE DEMON)
    '''
    stopwords = nltk.corpus.stopwords
    removed_stopwords = []
    for text in entry:
        not_stopword = [word for word in text.split() if word not in stopwords.words('english') or word in extra_words and word not in exclude_words]
        no_stopwords = ' '.join(not_stopword)
        removed_stopwords.append(no_stopwords)
    return removed_stopwords

In [19]:
removed_stopwords_by_function = remove_stopwords(lemmatized_by_function)
removed_stopwords_by_function[0]

'microsoft give salary hike fulltime employee year ceo satya nadella said internal email wednesday year economic condition different across many dimension nadella said email well salary increase certain hourly equivalent role wont salary increase fulltime employee year added'

In [20]:
# Remove stopwords
stopwords = nltk.corpus.stopwords
removed_stopwords = []
for text in stemmed_data:
    not_stopword = [word for word in text.split() if word not in stopwords.words('english')]
    no_stopwords = ' '.join(not_stopword)
    removed_stopwords.append(no_stopwords)
removed_stopwords[0]

'microsoft give salari hike fulltim employe thi year ceo satya nadella said intern email wednesday thi year econom condit veri differ across mani dimens nadella said email well salari increas certain hourli equival role wont salari increas fulltim employe thi year ad'

<div style='background-color : orange'>
<a id='q6'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 6
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 6.</b> Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe <mark><i>news_df</i></mark>.

In [21]:
def prepare_news_articles():
    '''
    Acquires the vanilla news articles dataframe via web scraping then prepares
    pertinent columns and returns the prepared dataframe for exploration
    
    INPUT:
    NONE
    
    OUTPUT:
    prepared_news_articles = Pandas dataframe of prepared news article data
    '''
    news_articles = a.get_news_articles()
    news_articles['headline'] = p.full_clean(news_articles.headline)
    news_articles['summary'] = p.full_clean(news_articles.summary)
    prepared_news_articles = news_articles
    return prepared_news_articles

In [22]:
# Get that news_df
news_df = a.get_news_articles()
news_df['headline_clean'] = p.full_clean(news_df.headline)
news_df['summary_clean'] = p.full_clean(news_df.summary)
news_df.sample()

,category,headline,summary,headline_clean,summary_clean
24,Business,It'd damage US reputation in extreme: Biden on...,"US President Joe Biden said the country's ""int...",itd damage u reputation extreme biden debt def...,u president joe biden said country internation...

In [23]:
function_news_df = p.prepare_news_articles()
function_news_df.sample()

,category,headline,summary,headline_clean,summary_clean
99,Entertainment,Telugu states said Baahubali is disaster: Raja...,Filmmaker SS Rajamouli revealed that he faced ...,telugu state said baahubali disaster rajamouli...,filmmaker rajamouli revealed faced one life de...

<div style='background-color : orange'>
<a id='q7'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 7
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 7.</b> Make another dataframe for the Codeup blog posts. Name the dataframe <mark><i>codeup_df</i></mark>.

In [24]:
def prepare_blog_articles():
    '''
    Acquires the vanilla blog articles dataframe via web scraping then prepares
    pertinent columns and returns the prepared dataframe for exploration
    
    INPUT:
    NONE
    
    OUTPUT:
    prepared_blog_articles = Pandas dataframe of prepared blog article data
    '''
    codeup_df = a.get_blog_articles()
    codeup_df['article_orientation'] = codeup_df.article_orientation.fillna('None')
    codeup_df['article_orientation'] = p.full_clean(codeup_df.article_orientation)
    codeup_df['article_first_paragraph'] = p.full_clean(codeup_df.article_first_paragraph)
    codeup_df['article_second_paragraph'] = p.full_clean(codeup_df.article_second_paragraph)
    codeup_df['article_third_paragraph'] = p.full_clean(codeup_df.article_third_paragraph)
    prepared_blog_articles = codeup_df
    return prepared_blog_articles

In [25]:
codeup_df = a.get_blog_articles()
codeup_df['article_orientation'] = codeup_df.article_orientation.fillna('None')
codeup_df['article_orientation'] = p.full_clean(codeup_df.article_orientation)
codeup_df['article_first_paragraph'] = p.full_clean(codeup_df.article_first_paragraph)
codeup_df['article_second_paragraph'] = p.full_clean(codeup_df.article_second_paragraph)
codeup_df['article_third_paragraph'] = p.full_clean(codeup_df.article_third_paragraph)
codeup_df.sample()

,article_title,article_url,article_orientation,article_first_paragraph,article_second_paragraph,article_third_paragraph
3,Women in Tech: Panelist Spotlight – Madeleine ...,https://codeup.com/events/women-in-tech-madele...,codeup hosting woman tech panel honor woman hi...,madeleine attended codeup student early 2019 p...,dont forget tune march 29th sit insightful con...,none

In [26]:
function_codeup_df = p.prepare_blog_articles()
function_codeup_df.sample()

,article_title,article_url,article_orientation,article_first_paragraph,article_second_paragraph,article_third_paragraph
2,Women in Tech: Panelist Spotlight – Sarah Mellor,https://codeup.com/codeup-news/women-in-tech-p...,codeup hosting woman tech panel honor woman hi...,asked sarah codeup ha impacted career response...,dont forget tune march 29th sit insightful con...,none

<div style='background-color : orange'>
<a id='q8'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 8
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 8.</b> For each dataframe, produce the following columns:

- <mark><i>title</i></mark> to hold the title
- <mark><i>original</i></mark> to hold the original article/post content
- <mark><i>clean</i></mark> to hold the normalized and tokenized original with the stopwords removed.
- <mark><i>stemmed</i></mark> to hold the stemmed version of the cleaned data.
- <mark><i>lemmatized</i></mark> to hold the lemmatized version of the cleaned data.

In [27]:
all_blogs_versions_df = p.all_versions_blog()
all_blogs_versions_df.sample()

,article_title,article_url,article_orientation_original,article_first_paragraph_original,article_second_paragraph_original,article_third_paragraph_original,article_orientation_cleaned,article_orientation_stemmed,article_orientation_lemmatized,article_first_paragraph_cleaned,article_first_paragraph_stemmed,article_first_paragraph_lemmatized,article_second_paragraph_cleaned,article_second_paragraph_stemmed,article_second_paragraph_lemmatized,article_third_paragraph_cleaned,article_third_paragraph_stemmed,article_third_paragraph_lemmatized
4,Black Excellence in Tech: Panelist Spotlight –...,https://codeup.com/codeup-news/panelist-spotli...,None,Wilmarie De La Cruz Mejia is a current Codeup ...,Wilmarie is a veteran expanding her knowledge ...,We asked Wilmarie to share more about her expe...,none,none,none,wilmarie de la cruz mejia current codeup stude...,wilmari de la cruz mejia current codeup studen...,wilmarie de la cruz mejia current codeup stude...,wilmarie veteran expanding knowledge programmi...,wilmari veteran expand knowledg program langua...,wilmarie veteran expanding knowledge programmi...,asked wilmarie share experience codeup shares ...,ask wilmari share experi codeup share abl meet...,asked wilmarie share experience codeup share a...

In [28]:
all_news_versions_df = p.all_versions_news()
all_news_versions_df.sample()

,category,headline_original,summary_original,headline_cleaned,headline_stemmed,headline_lemmatized,summary_cleaned,summary_stemmed,summary_lemmatized
0,Business,Microsoft won't give salary hikes to full-time...,Microsoft will not give salary hikes to full-t...,microsoft wont give salary hikes fulltime empl...,microsoft wont give salari hike fulltim employ...,microsoft wont give salary hike fulltime emplo...,microsoft give salary hikes fulltime employees...,microsoft give salari hike fulltim employe yea...,microsoft give salary hike fulltime employee y...

<div style='background-color : orange'>
<a id='q9'></a>
    <b><u><i><h1 style='text-align : center'>
        Question 9
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 9.</b> Ask yourself:

- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?

- Lemmatized (Size isn't large)
- Lemmatized (Size isn't large)
- Stemmed (Size is large;will reduce size)

<div style='background-color : orange'>
<a id='misc'></a>
    <b><u><i><h1 style='text-align : center'>
        Miscellaneous
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>